$margin-bottom: 2px;

$font-size: $font-size-md;
$font-weight: 400;

.list-item-meta-title {
  margin-bottom: $margin-bottom;
  line-height: 1;
  font-size: $font-size;
  font-weight: $font-weight;
}
