$min-height: 50px;

.list-item {
  display: flex;
  align-items: center;
  min-height: $min-height;
  border-radius: 2px;
  background-color: $gray-darker;

  &:not(:last-of-type) {
    margin-bottom: 1px;
  }

  &[data-with-border="true"] {
    box-shadow: inset 0 -1px 0 0 $gray-light;
  }
}
