.task-modifier {
  &__rate-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__rate {
    cursor: pointer;
    filter: grayscale(150%);
    transition: all 400ms $transition-mode;

    &[data-is-filled="true"],
    &:hover {
      filter: grayscale(0%);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
