$margin-horizontal: 16px;

.list-item-meta {
  width: 100%;

  &:not(:only-child) {
    margin-left: $margin-horizontal;
    margin-right: $margin-horizontal;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
